.form{
    color: goldenrod;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.iform{
    width: 30%;
    background-color: #5CDB95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px;
}
.input{
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: white;
    margin: 5px 0px;
    background-color: black;
}
.input a{
    padding: 20px;
}

.iform button{
    padding: 10px 30px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.iform button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px;
    font-weight: bold;
}
.modal{
    background-color:white;
    border: 1px solid gray;
    padding: 5px 10px;
}
.iform input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}